<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 col-lg">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
          <li><a routerLink="/products" routerLinkActive="active">Productos</a></li>
        </ul>
      </div>
      <div class="col-8 col-lg">
        <h5>Nuestra dirección</h5>
        <address>
          CEOH<br>
          Medellín, Antioquia<br>
          Colombia<br>
          <i class="fa fa-phone fa-lg"></i>: +2542454<br>
          <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">clothes@fashion.net</a>
        </address>
      </div>
      <div class="col-12 col-lg align-self-center">
        <a class="btn btn-social btn-google-plus" href="http://google.com/+">
          <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-social btn-facebook" href="http://www.facebook.com/profile.php?id=">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-social btn-linkedin" href="http://www.linkedin.com/in/">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-social btn-twitter" href="http://twitter.com/">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-social btn-youtube" href="http://youtube.com/">
          <i class="fa fa-youtube"></i>
        </a>
        <a class="btn btn-social btn-mail" href="mailto:">
          <i class="fa fa-envelope"></i>
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
          <p>© Copyright 2018 Clothing Factory</p>
        </div>
      </div>
  </div>
</footer>
