<div class="mt-3 row">
  <div class="card col-12 col-md-3 offset-md-1 mb-3">
    <img class="card-img-top" src="{{garment.img}}" alt="{{garment.name}}">
    <div class="card-body">
      <p class="card-text">{{garment.description}}</p>
    </div>
  </div>
  <div class="card col-12 col-md-3 offset-md-1 mb-3">
    <img class="card-img-top" src="{{promotion.img}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{promotion.description}}</p>
    </div>
  </div>
  <div class="card col-12 col-md-3 offset-md-1 mb-3">
    <img class="card-img-top" src="{{leader.img}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{leader.description}}</p>
    </div>
  </div>
</div>
